<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>表格操作 - layui</title>

  <link rel="stylesheet" href="../admin/lib/layui/css/layui.css">


<style>
body{padding: 20px;}
</style>
</head>
<body>

<div class="layui-btn-group demoTable">
  <button id="refrsh-1" class="layui-btn" data-type="reload">刷新表格</button>
</div>
 




<div class="layui-btn-group">
  <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
  <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
  <button class="layui-btn" data-type="isAll">验证是否全选</button>
  <button id="refrsh" class="layui-btn" data-type="reload">刷新表格</button>
</div>






<table class="layui-table" lay-filter="parse-table-demo">
  <thead>

    <tr>
     <td lay-data="{field:'men1', width:80}">编号</td>
      <td lay-data="{field:'men1', width:80}">类别名称</td>
     <td lay-data="{field:'men2', width:80}">属性数量</td>
     <td lay-data="{field:'men3', width:80}">设置</td>
     <td lay-data="{field:'men4', width:80}">操作</td>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>3楼</td>
     <td>301</td>
     <td>302</td>
     <td>301</td>
     <td>302</td>
    </tr>
    <tr>
     <td>2楼</td>
     <td>201</td>
     <td>202</td>
     <td>201</td>
     <td>202</td>
    </tr>
    <tr>
     <td>1楼</td>
     <td>101</td>
     <td>102</td>
     <td>101</td>
     <td>102</td>
    </tr>
  </tbody>
</table>

<script src="../admin/lib/layui/layui.js"></script>
<script>

  

   
   
  // 表格刷新
   $("#refrsh-1").click(function(){
   	      //执行重载
      index.reload('idTest', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          // 参数
          kd:'kd'
        }
      });
   	
   })
   

  
  

  

  

  

</script>



               
          



</body>
</html>
